
<table class="table table-condensed score-list">
  <tr>
    <th class="col-doubler"></th>
    <th ng-repeat="player in players">{{player.playerAbbreviation}}</th>
  </tr>
  <tr ng-repeat="hand in hands" ng-class="{set: hand.wasSet, 'not-set': hand.wasNotSet}">
    <td ng-class="{doubler: hand.wasDoubler, leaster: hand.wasLeaster}"></td>
    <td ng-repeat="score in hand.scores" ng-class="{				partner: score.wasPartner,				picker: score.wasPicker,				out: score.wasOut,				leaster: score.wasLeaster,				misplay: score.wasMisplay			}">{{score.value}}</td>
  </tr>
</table>