nav.navbar.navbar-fixed-top.bg-primary.navbar-micro

nav.navbar.navbar-default.navbar-fixed-bottom: .container
	button.btn.btn-primary.navbar-btn(ng-click="submitScore()" ng-disabled="!canSubmit()") Score this hand

.content.score-hand
	.row
		.col-xs-4: button.btn(ng-click="toggleDoubler()" ng-class="{toggled: isDoubler()}") Doubler
		.col-xs-4: button.btn(ng-click="toggleLeaster()" ng-class="{toggled: isLeaster()}") Leaster
		.col-xs-4: button.btn(ng-click="toggleMisplay()" ng-class="{toggled: isMisplay()}") Misplay
	.row.player(ng-repeat="player in players")
		.col-xs-3: .name {{player.shortName}}
		.col-xs-9
			.player-buttons(ng-show="isNormalGame()")
				.btn-group
					button.btn.score-button(ng-click="togglePicker($index)" ng-class="{toggled: isPicker($index), win: isWin()}") P
					button.btn.score-button(ng-click="togglePartner($index)" ng-class="{toggled: isPartner($index), win: isWin()}") ∗
				button.btn.score-button(ng-show="showOut" ng-click="toggleOut($index)" ng-class="{toggled: isOut($index), win: isWin()}") Out
				button.btn.score-button(ng-click="toggleInLead($index)" ng-class="{toggled: isInLead($index), win: isWin()}") Lead
			.player-buttons(ng-show="isLeaster()")
				.btn-group
					button.btn(ng-click="toggleLeasterPrimary($index)" ng-class="{toggled: isLeasterPrimary($index)}") L
					button.btn.little-leaster(ng-click="toggleLeasterSecondary($index)" ng-class="{toggled: isLeasterSecondary($index)}") 2nd
				button.btn(ng-show="showOut" ng-click="toggleOut($index)" ng-class="{toggled: isOut($index)}") Out
				button.btn(ng-click="toggleInLead($index)" ng-class="{toggled: isInLead($index)}") Lead
			.player-buttons(ng-show="isMisplay()")
				button.btn(ng-click="toggleMisplayLoser($index)" ng-class="{toggled: isMisplayLoser($index)}") MP
				button.btn(ng-show="showOut" ng-click="toggleOut($index)" ng-class="{toggled: isOut($index) }") Out
				button.btn(ng-click="toggleInLead($index)" ng-class="{toggled: isInLead($index)}") Lead
	.row(ng-show="isNormalGame()")
		.col-xs-12: button.btn.win-button(ng-click="toggleWin()" ng-class="{win: isWin()}")
			| {{isWin() ? 'Win' : 'Set'}}
	.row(ng-show="isNormalGame()")
		.col-xs-4: button.btn.score-button(ng-click="toggleSchneider()" ng-class="{toggled: isSchneider(), win: isWin()}")
			div Schneider
		.col-xs-4: button.btn.score-button(ng-click="toggleNoSchneider()" ng-class="{toggled: isNoSchneider(), win: isWin()}")
			div No Schneider
		.col-xs-4: button.btn.score-button(ng-click="toggleNoTricker()" ng-class="{toggled: isNoTricker(), win: isWin()}")
			div No Trick
