@import "bootstrap.variables.less";

body {
    -webkit-touch-callout: none;    // prevent callout to copy image, etc when tap to hold
    -webkit-text-size-adjust: none; // prevent webkit from resizing text to fit
    -webkit-user-select: none;      // prevent copy paste, to allow, change 'none' to 'text'
    overflow: hidden;
}

.title {
	text-align: center;
	line-height: @navbar-height;
	height: @navbar-height;
	box-sizing: border-box;
	--webkit-user-select: none;
	--webkit-user-drag: none;
	--webkit-tap-highlight-color: rgba(0,0,0,0);
	font-weight: bold;
	font-size: @font-size-large;
}

.score-list {
	padding-bottom: @navbar-height;
	.table {
		td, th { text-align: center; vertical-align: baseline; }

		.col-doubler { padding: 0; }
		.col-score { width: 13.5%; }

		.set { color: @brand-danger; }
		.not-set { color: @brand-success; }

		.picker {
			font-weight: bold;
			&:after { content: "P"; vertical-align: super; font-size: 75%; position: absolute; }
		}
		.partner {
			&:after { content: "×"; vertical-align: super; font-size: 75%; position: absolute; }
		}

		.picker.partner {
			font-weight: bold;
			&:after { content: "P×"; vertical-align: super; font-size: 75%; position: absolute; }
		}

		.doubler {
			padding: @table-condensed-cell-padding;
			width: 7.5%;
			&:before {
				content: "D";
				color: black;
				font-weight: bold;
			}
		}

		.leaster {
			font-weight: bold;
			&:after { content: "L"; vertical-align: super; font-size: 75%; position: absolute; }
		}

		.misplay {
			font-weight: bold;
			&:after { content: "MP"; vertical-align: super; font-size: 75%; position: absolute; }
		}

		.out {
			color: black;
		}

		.point-spread {
			font-size: 75%;
		}
	}
}

.score-hand {
	.player {
		overflow: auto;
		margin-bottom: 10px;
		.name {
			line-height: 34px;
			display: inline-block;
		}
		.buttons { float: right; }
	}
}

.content {
	width: 100%;
	position: absolute;
	top: @navbar-height;
	bottom: 0;
	overflow-y: auto;
	padding-top: 10px;
}
.content.ng-enter,
.content.ng-leave {
	-webkit-transition:.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
	transition:.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}
.content.ng-enter {
	left: 100%;
}
.content.ng-leave {
	left: 0;
}
.content.ng-enter.ng-enter-active {
	position: absolute;
	left: 0;
}
.content.ng-leave.ng-leave-active {
	position: absolute;
	left: -100%;
}
