@import "bootstrap.variables.less";
@import "bootstrap.mixins.less";
@import "../../bower_components/bootstrap/less/type.less";

body {
	-webkit-touch-callout: none;    // prevent callout to copy image, etc when tap to hold
	-webkit-text-size-adjust: none; // prevent webkit from resizing text to fit
	-webkit-user-select: none;      // prevent copy paste, to allow, change 'none' to 'text'
	overflow: hidden;
}

button.btn
{
	min-height: 44px;
	min-width: 44px;
	padding-left: 9px;
	padding-right: 9px;
	& > div {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.navbar {
	--webkit-user-select: none;
	--webkit-user-drag: none;
	--webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navbar-title {
	.bg-primary;
	text-align: center;
	line-height: @navbar-height;
	font-weight: bold;
	font-size: @font-size-large;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.navbar-micro {
	min-height: @micro-navbar-height;
	height: @micro-navbar-height;
}

.navbar.navbar-fixed-top ~ .content {
	padding-top: @navbar-height;
}

.navbar.navbar-fixed-top.navbar-micro ~ .content {
	padding-top: @micro-navbar-height;
}

.navbar.navbar-fixed-bottom ~ .content {
	padding-bottom: @navbar-height;
}

form {
	margin-top: 10px;
	margin-bottom: 10px;
}