.score-list: table.table.table-condensed
	thead: tr
		th.col-doubler
		th.col-score(ng-repeat="player in players()")
			| {{player.abbreviation}}
		th.point-spread PS

	tbody: tr(
		ng-repeat="hand in hands()"
		ng-class="{set: hand.wasSet, 'not-set': hand.wasNotSet}")
		td.col-doubler(ng-class="{doubler: hand.wasDoubler, leaster: hand.wasLeaster}")
		td.col-score(
			ng-repeat="player in players()"
			ng-class="{                    \
				partner: hand.scores[player.name].wasPartner, \
				picker: hand.scores[player.name].wasPicker,   \
				out: hand.scores[player.name].wasOut,         \
				leaster: hand.scores[player.name].wonLeaster, \
				misplay: hand.scores[player.name].misplayed   \
			}")
			| {{hand.scores[player.name].wasOut ? '–' : hand.scores[player.name].value}}
		td.point-spread {{ hand.pointSpread }}

	tfoot: tr
		th.col-doubler
		th.col-score(ng-repeat="player in players()")
			| {{player.abbreviation}}
		th.point-spread PS

nav.navbar.navbar-default.navbar-fixed-bottom: .container
	button.btn.btn-primary.navbar-btn(ng-click="addScore()") Score a hand