nav.navbar.navbar-fixed-top.navbar-title
	| Sheepshead Scores

nav.navbar.navbar-default.navbar-fixed-bottom: .container
	button.btn.btn-primary.navbar-btn(ng-click="startGame()" ng-disabled="!canSubmit()") Start the game

.content.select-players
	form.form-horizontal
		.form-group(ng-repeat="player in players")
			.col-sm-12: input.form-control.name-lookup(type="text" ng-model="player.name" placeholder="Name" typeahead="name for name in getNames($viewValue)")