@import "bootstrap.variables.less";

body {
    -webkit-touch-callout: none;    // prevent callout to copy image, etc when tap to hold
    -webkit-text-size-adjust: none; // prevent webkit from resizing text to fit
    -webkit-user-select: none;      // prevent copy paste, to allow, change 'none' to 'text'
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.title {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	text-align: center;
	line-height: @navbar-height;
	height: @navbar-height;
	border-top-width: 0;
	box-sizing: border-box;
	--webkit-user-select: none;
	--webkit-user-drag: none;
	--webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: #1169a6;
	color: white;
	font-weight: bold;
	font-size: @font-size-large;
}
.content {
	position: absolute;
	left: 0;
	right: 0;
	top: @navbar-height
}

.score-list {
	td, th { text-align: center; line-height: 2; }

	.col-doubler { width: 25px; }

	.set { color: @brand-danger; }
	.not-set { color: @brand-success; }

	.picker {
		font-weight: bold;
		&:after { content: "P"; vertical-align: super; font-size: 75%; position: absolute; }
	}
	.partner {
		&:after { content: "×"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.picker.partner {
		font-weight: bold;
		&:after { content: "P×"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.doubler:before {
		content: "D";
		color: black;
		font-weight: bold;
	}

	.leaster {
		font-weight: bold;
		&:after { content: "L"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.misplay {
		font-weight: bold;
		&:after { content: "MP"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.out {
		color: black;
	}
}