@import "bootstrap.variables.less";

body {
    -webkit-touch-callout: none;    // prevent callout to copy image, etc when tap to hold
    -webkit-text-size-adjust: none; // prevent webkit from resizing text to fit
    -webkit-user-select: none;      // prevent copy paste, to allow, change 'none' to 'text'
    padding-top: @navbar-height + 20px;
}

.title {
	text-align: center;
	line-height: @navbar-height;
	height: @navbar-height;
	border-top-width: 0;
	box-sizing: border-box;
	--webkit-user-select: none;
	--webkit-user-drag: none;
	--webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: @brand-primary;
	color: white;
	font-weight: bold;
	font-size: @font-size-large;
}

.score-list {
	padding-bottom: @navbar-height;

	td, th { text-align: center; line-height: 2; }

	.col-doubler { padding: 0; }

	.set { color: @brand-danger; }
	.not-set { color: @brand-success; }

	.picker {
		font-weight: bold;
		&:after { content: "P"; vertical-align: super; font-size: 75%; position: absolute; }
	}
	.partner {
		&:after { content: "×"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.picker.partner {
		font-weight: bold;
		&:after { content: "P×"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.doubler {
		padding: @table-condensed-cell-padding;
		width: 1em;
		&:before {
			content: "D";
			color: black;
			font-weight: bold;
		}
	}

	.leaster {
		font-weight: bold;
		&:after { content: "L"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.misplay {
		font-weight: bold;
		&:after { content: "MP"; vertical-align: super; font-size: 75%; position: absolute; }
	}

	.out {
		color: black;
	}
}