table.table.table-condensed.score-list
	tr
		th.col-doubler
		th(ng-repeat="player in players")
			| {{player.playerAbbreviation}}

	tr(
		ng-repeat="hand in hands"
		ng-class="{set: hand.wasSet, 'not-set': hand.wasNotSet}")
		td(ng-class="{doubler: hand.wasDoubler, leaster: hand.wasLeaster}")
		td(
			ng-repeat="score in hand.scores"
			ng-class="{\
				partner: score.wasPartner,\
				picker: score.wasPicker,\
				out: score.wasOut,\
				leaster: score.wasLeaster,\
				misplay: score.wasMisplay\
			}")
			| {{score.value}}